/*
    Global stuffs
*/
* {
    font-family: "Roboto", sans-serif;
}

html, body, div {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 600px;
    color: #333333;
}

hr {
    border: 1px solid #cccccc;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*
    Header / footer
*/
header {
    text-align: center;
    margin: 25px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    font-size: 400%;
    font-weight: 800;
}

h2 {
    font-weight: 400;
    font-size: 200%;
    color: #333333;
    padding-left: 0px;
    margin-left: 0px;
}

footer {
    margin: 0 auto;
    text-align: center;
}

/*
    Links
*/
a {
    color: #2b8cbe;
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

/*
    Page content wrapper
*/
.wrapper {
    width: 50%;
    margin: 0 auto;
}

.wrapper p {
    font-weight: 300;
}

.wrapper #title {
    margin: 50px;
}

input[type=button] {
  font-size: 125%;
  background: #eee;
  border-radius: 6px;
  border: 1px solid #aaa;
  cursor: pointer;
}

input[type=button]:hover {
  background: #cfcfcf;
  cursor: pointer;
}